body {
    background-color: black;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.whiteText {
    color: white;
}

#projectBrowser {
    height: 100vh;
    width: 500px;

    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
}

#huhBigTitle {
    height: 250px;
    border: 1px solid;
    border-color: red;

    padding-bottom: 50px;

    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#hubBigTitleText {
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    text-decoration: underline white 10px;
}

.projects {
    height: 200px;
    /* width: 100%; */
    border: 1px solid aqua;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
}

.projectName {
    color: aqua;
}
