
body {
    background-color: black;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#gameBoard {
    background-color: rgb(181, 181, 181);

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    width: 100vmin;
    height: 100vmin;
    
    user-select: none;
}

.cellBlock {
    display:table-cell;
    text-align: center;
}

.grayBlock {
    background-color: rgb(128, 128, 128);
}

.highlighted {
    background-color: red;
}

.pieceImg {
    /* width: 95%;
    height: 95%; */
    
    margin-top: 10%;
    width: 75%;
    height: 75%;
}